<section class="max-w-[1330px] mx-auto pt-[103px]">
  <div class="flex flex-row justify-between gap-5">
    <div class="flex flex-col w-[240px]">
      <span class="flex justify-between pb-[13px]">
        <h1 class="font-semibold text-blue-900">Categories</h1>
        Reset
      </span>
      @for (category of categories; track category) {
      <div class="flex justify-between [&:not(:last-child)]:pb-[12px]">
        <form class="flex gap-[10px]" [formGroup]="filterForm">
          <input
            type="checkbox"
            id="{{ category.id }}"
            class="w-4 h-4 p-3 accent-gray-700 rounded-md checked:ring-offset-1 checked:ring-gray-500 checked:rounded-md checked:accent-gray-700"
            formControlName="checkBox"
            (change)="onFilter($event)"
          />
          <h1>
            {{ category.name }}
          </h1>
        </form>

        2
      </div>

      }
    </div>
    <ng-container *ngIf="!filterForm.get('checkBox')?.value; else check">
      <div class="grid grid-cols-3 gap-5 flex-grow">
        @for (product of products.slice(0,12); track product) {
        <app-products-cards [product]="product" />
        }
      </div>

    </ng-container>
  </div>
</section>
 <ng-template #check>
        <div class="grid grid-cols-3 gap-5 flex-grow">
          @for (product of productFilter; track product) {
          <app-products-cards [product]="product" />
          }
        </div>
      </ng-template>
