<section
  class="max-w-[1330px] mx-auto bg-[url('assets/banner.png')] text-white h-[420px] rounded-3xl my-[52px] relative"
>
  <div class="w-[500px] text-center absolute left-2/4 top-20">
    <button
      class="py-[12px] px-[26.5px] bg-orange-400 rounded-3xl font-semibold"
    >
      New laptop
    </button>
    <div class="my-[36px]">
      <h1 class="text-5xl font-bold text-blue-500 mb-[12px]">
        Sale up to 50% off
      </h1>
      <p class="text-lg font-semibold">12 inch hd display</p>
    </div>

    <button
      class="py-[12px] px-[26.5px] bg-orange-400 rounded-3xl font-semibold"
    >
      Shop now
    </button>
  </div>
</section>
